body {
 	font-family: inherit;
 	background-color: yellow;
 	color: yellow;
 }
.container{  
    background-color: black;
    border-radius: 10px;
    margin:20px;
    margin-top: 1e;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    padding:16px;
    padding-top:16px;
    position:absolute;}
 h1 {
 	font-family: inherit;
 	color: white;
 }
h3 {font-family: inherit;
color: white;
}

 img {
 	width: 50%;
 	height: auto;
    }